{# Displays card with image/title/url and content block  #}

{# @param entry Element optional if title/url specified #}
{# @param title String Card Title optional if entry is specified #}
{# @param teaser String Card teaser optional #}
{# @param url String Card href optional if entry is specified #}
{# @param image Asset optional #}
{# @param highlight String string for text fragmant highlighting #}
{# @param showMetaData bool Show author and postdate #}
{# @param handleCopyright string how to display copyright notive #}
{# @param layout String card|cardlet #}

{% set highlight = highlight ?? '' %}
{% set layout = layout ?? 'card' %}
{% set showMetaData = showMetaData is defined ? showMetaData : false %}
{% set handleCopyright = handleCopyright ?? customConfig.handleCopyright %}
{% set teaser = teaser ?? '' %}

{% from '_layouts/macros/lib.twig' import img %}

{% if entry is defined %}
    {% set title = title ?? entry.title %}
    {% set url = url ?? entry.url %}
    {% set teaser = entry.teaser %}
    {% set image = image ?? entry.featuredImage.one ?? null %}
{% endif %}


{% if highlight %}
    {% set url = url ~ '#:~:text=' ~ highlight|replace({'"': ''})|e('url') %}
{% endif %}

{% set transform = transform ?? customConfig.cardTransform %}

{% set classes = {
    card: {
        a: 'border border-gray-200 shadow-xl flex flex-col',
        imgDiv: '',
        textDiv: 'p-4'
    },
    cardlet:  {
        a: 'flex space-x-4 rtl:space-x-reverse',
        imgDiv: 'flex-shrink-0 w-36 sm:w-52',
        textDiv: ''
    }
} %}

{% set marginLeft = '' %}
{% if layout == 'cardlet' and entry.level is defined and entry.level %}
    {% switch entry.level %}
    {% case 2 %}
        {% set marginLeft = 'ms-12' %}
    {% case 3 %}
        {% set marginLeft = 'ms-24' %}
    {% endswitch %}
{% endif %}

<a href="{{ url }}"
   class="{{ classes[layout].a }} group overflow-hidden focus:outline-none focus:ring-2 focus:ring-primary dark:focus:ring-primary-dark  rounded-lg">
    {% if layout == 'cardlet' and entry.level is defined and entry.level > 1 %}
        {% for i in 2..entry.level %}
        	<div class="w-16 pt-12">
                {% if i == entry.level %}
                    {{ svg("@templates/_icons/chevron-right.svg")|attr({class: 'h-6 w-6'}) }}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    <div class="{{ classes[layout].imgDiv }} bg-gray-200 rounded-lg overflow-hidden">
        {% if image %}

            {{ img(image, {
                transform: transform,
                handleCopyright: handleCopyright == 'show' ? 'overlay' : handleCopyright,
                attr: {
                    class: "group-hover:opacity-75 group-hover:scale-105 group-focus:opacity-75 transition duration-300"
                }
            }) }}
        {% endif %}
    </div>


    <div class="flex flex-1 flex-col justify-between {{ classes[layout].textDiv }}">
        <div class="flex-1">
            <div class="mt-2 block">
                {% if teaser %}
                    <div class="text-sm">
                        {{ teaser }}
                    </div>
                {% endif %}
                <div class="mb-2 text-xl font-semibold text-primary dark:text-primary-dark group-hover:underline group-focus:underline">
                    {{ title }}
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>

        {% if entry is defined and showMetaData %}
            {% set authors = entry.authors %}
            <div class="mt-4 flex items-center">
                {% if authors[0].photo %}
                    <div class="flex-shrink-0">
                        <span class="sr-only">{{ authors[0].name }}</span>
                        {{ img(authors[0].photo, {
                            transform: {width: 40, height: 40},
                            handleCopyright: 'none',
                            attr: {
                                class: "h-10 w-10 rounded-full"
                            }
                        }) }}
                    </div>
                {% endif %}

                <div class="ms-4">
                    <div class="text-sm font-medium text-gray-900 dark:text-gray-200">
                        {{ authors[0].name }}
                    </div>
                    <div class="flex space-x-1 rtl:space-x-reverse text-sm text-gray-700 dark:text-gray-400">
                        <time datetime="{{ entry.postDate|date('Y-m-d') }}">{{ entry.postDate|date('short') }}</time>
                    </div>
                </div>

            </div>
        {% endif %}

    </div>
</a>