{# @param entry Entry the entry #}
{# @param breadcrumpQueries [EntryQuery] array of queries to elements whose ascendants should be shown as breadcrumpQuerys #}
{# @param style string classes #}

{% set style = style ?? 'boxed' %}

{% set classes = {
    boxed: 'bg-white dark:bg-gray-700 p-4 rounded shadow-lg',
    none: ''
} %}

{% from '_layouts/macros/lib.twig' import img %}

{% set authors = entry.authors %}
<div class="{{ classes[style] }} ">
    <div class="flex justify-between ">
        <div class="grid md:grid-cols-2 gap-4">
            {% for author in entry.authors %}
                <div class="flex justify-start items-center">
                    {% if author.photo %}
                        <div class="flex-shrink-0">
                            <span class="sr-only">{{ author.name }}</span>
                            {{ img(author.photo, {
                                transform: {width: 48, height: 48},
                                attr: {
                                    class: "h-12 w-12 rounded-full"
                                }
                            }) }}
                        </div>
                    {% endif %}
                    <div class="ms-4 text-lg uppercase">
                        <div class="font-medium text-left">
                            {{ author.name }}
                        </div>
                        {% if author.socialLinks %}
                            <div class="mt-1">
                                {% include '_layouts/partials/social-icons.twig' with {
                                	links: author.socialLinks
                                } only %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-lg uppercase">
            <time datetime="{{ entry.postDate|date('Y-m-d') }}">{{ entry.postDate|date('short') }}</time>
        </div>
    </div>

    {% if breadcrumpQueries is defined %}
        {% set foundLinkedEntries = false %}
        <div>
            {% for breadcrumpQuery in breadcrumpQueries %}
                {% set linkedEntries = breadcrumpQuery.all %}
                {% if linkedEntries %}
                    {# extra space for the first row #}
                    <div class="space-y-4 {{ not foundLinkedEntries ? 'mt-8' }}">
                        {% for linkedEntry in linkedEntries %}
                            <div class="py-2">
                                {% include '_layouts/partials/structure_breadcrump.twig' with {
                                    entry: linkedEntry,
                                    linkEntry: true
                                } only %}
                            </div>
                        {% endfor %}
                    </div>
                    {% set foundLinkedEntries = true %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

</div>