{% set ids = entry.descendants.ids|push(entry.id) %}
{% set query = craft.entries
    .relatedTo({targetElement: ids, field: 'topics'}) %}

{% set count = query.count() %}
<div class="mt-4">
    {% if count %}
        {% for entry in query.limit(2).collect() %}
            <div>
                <span class="font-semibold">
                    {{ entry.title }}
                </span> {{ entry.postDate|date('short') }}
            </div>
        {% endfor %}
        {% if count > 2 %}
            <div class="mt-2">
                {{ 'and'|t }} {{ count-2 }} {{ '{c,plural,=1{more entry} other{more entries}}'|t({c: count-2}) }}
            </div>
        {% endif %}
    {% else %}
        {{ 'No entries yet'|t }}
    {% endif %}
</div>