{# @param textKey String key for siteInfo.textModules #}
{# @param heading String Heading text #}
{# @param caption String Button text #}

{% set textKey = textKey ?? 'default' %}
{% set heading = heading ?? '' %}
{% set caption = caption ?? 'Show Media'|t %}
{% set externalLink = externalLink ?? '' %}

{% set textModule = craft.entries.section('textModule').slug(textKey).one() %}
{% set privacyEntry = craft.entries.section('legal').type('privacy').one() %}

<div x-data="{acceptOnce: false}" class="my-8">
    <template x-if="$store.consent.mediaCookiesAllowed || acceptOnce">
        {% block media %}{% endblock %}
    </template>

    <div x-show="!$store.consent.mediaCookiesAllowed  && !acceptOnce"
         class="border border-gray-700 bg-gray-200 rounded p-8 shadow-lg dark:bg-primary">

        {% if heading %}
            <div class="mb-8 text-xl font-bold">
                {{ heading }}
            </div>
        {% endif %}

        {% block content %}{% endblock %}

        {% if textModule %}
            <div class="mb-2">
                <div class="mb-1 text-lg font-bold">
                    {{ textModule.title }}
                </div>
                <div>
                    {{ textModule.body|nl2br }}
                </div>
            </div>
        {% endif %}

        <div class="mt-8">

            {% if customConfig.useCookieConsent != 'none' %}

                {% include '_layouts/partials/button.twig' with {
                    tag: 'button',
                    caption: 'Allow once'|t,
                    xOnClick: "acceptOnce = true"
                } only %}

                {% include '_layouts/partials/button.twig' with {
                    tag: 'button',
                    caption: 'Always allow'|t,
                    xOnClick: "confirm('#{'Are you sure?'|t}') == true && $store.consent.allowMediaCookies()",
                    extraClasses: 'ml-2'
                } only %}

            {% else %}

                {% include '_layouts/partials/button.twig' with {
                    tag: 'button',
                    caption: caption,
                    xOnClick: "acceptOnce = true"
                } only %}

            {% endif %}

            {% if externalLink or privacyEntry %}
                <div class="mt-2">
                    {% if externalLink %}
                        <a href="{{ externalLink }}" rel="noopener,noreferrer" target="_blank">{{ 'Open in a new window'|t }}</a>
                    {% endif %}

                    {% if privacyEntry %}
                        {{ privacyEntry.link }}
                    {% endif %}
                </div>
            {% endif %}

        </div>
    </div>
</div>