{% from '_layouts/macros/lib.twig' import img %}

{% set handleCopyright = customConfig.handleCopyright %}

<div class="relative">
    <div class="max-w-full">

        {% embed '_layouts/embeds/cover-image.twig' with {
            image,
            transform: customConfig.heroTransform[customConfig.heroWidth],
            srcset: customConfig.heroSrcSet[customConfig.heroWidth],
            handleCopyright,
            attr: {
                loading: null,
                fetchpriority: 'high'
            }
        } %}

            {% block content %}
                {% from '_layouts/macros/lib.twig' import imgCopyright %}

                <div class="max-w-screen-md mx-auto relative text-center px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">

                    {% if topHtml %}
                        {{ topHtml|raw }}
                    {% endif %}

                    {% if teaser is defined and teaser %}
                        <div class="mb-4 text-lg">
                            {{ teaser }}
                        </div>
                    {% endif %}
                    <h1 class="text-5xl font-headings font-semibold tracking-wider md:5xl sm:text-7xl lg:text-7xl">

                        <span class="block">{{ title }}</span>

                    </h1>

                    {% if text %}
                        <div class="prose text-white mt-6 max-w-lg mx-auto text-xl tracking-wider sm:max-w-3xl">
                            {{ text|md|purify }}
                        </div>
                    {% endif %}

                    {% include '_layouts/partials/heroarea/_ctabuttons.twig' with {
                        buttons,
                        primaryColor: 'primary',
                        secondaryColor: 'white',
                        classes: 'mt-16 flex justify-center'
                    } only %}

                    {% if bottomHtml %}
                        {{ bottomHtml|raw }}
                    {% endif %}
                </div>
            {% endblock %}

        {% endembed %}


    </div>
</div>