{% from '_layouts/macros/lib.twig' import img %}
{% from '_layouts/macros/lib.twig' import imgCopyright %}

<div class="relative">
    <div class="max-w-full">
        <div class="relative sm:overflow-hidden">

            <div class="absolute inset-0">

                {{ img(image, {
                    transform: config.heroTransform[config.heroWidth],
                    srcset: config.heroSrcSet[config.heroWidth],
                    attr: {
                        class: 'h-full w-full object-cover',
                        loading: null,
                        fetchpriority: 'high'
                    }
                }) }}

                <div class="absolute inset-0 bg-black/20"></div>
            </div>

            {{ imgCopyright(image) }}


            <div class="max-w-screen-md mx-auto relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                {% if teaser is defined and teaser %}
                    <div class="mb-4 text-center text-white text-lg">
                        {{ teaser }}
                    </div>
                {% endif %}
                <h1 class="text-center text-5xl font-headings font-semibold tracking-wider md:5xl sm:text-7xl lg:text-7xl">

                    <span class="block text-white">{{ title }}</span>

                </h1>
                <p class="mt-6 max-w-lg mx-auto text-center text-xl tracking-wider text-white sm:max-w-3xl">
                    {{ tagline }}
                </p>

                {% if url and caption %}
                    <div class="mt-8 flex justify-center">
                        {% include '_layouts/partials/button.twig' with {
                            caption: caption,
                            href: url,
                            color: 'white'
                        } only %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>