{% from '_layouts/macros/lib.twig' import img %}
{% from '_layouts/macros/lib.twig' import imgCopyright %}

<div class="bg-background dark:bg-background-dark">
    <div aria-hidden="true" class="relative">
        {{ img(image, {
            transform: config.heroTransform[config.heroWidth],
            srcset: config.heroSrcSet[config.heroWidth],
            attr: {
                class: 'h-full w-full object-cover',
                loading: null,
                fetchpriority: 'high'
            }
        }) }}

        <div class="absolute inset-0 bg-gradient-to-t from-background dark:from-background-dark"></div>
    </div>

    <div class="relative mx-auto -mt-48 max-w-7xl px-4 pb-16 sm:px-6 sm:pb-24 lg:px-8">
        <div class="mx-auto max-w-2xl text-center lg:max-w-4xl">

            {% if topHtml %}
                {{ topHtml|raw }}
            {% endif %}

            {% if teaser is defined and teaser %}
                <div class="mb-4 text-lg">
                    {{ teaser }}
                </div>
            {% endif %}

            <h2 class="text-3xl font-bold tracking-tight text-primary dark:text-primary-dark sm:text-4xl lg:text-6xl">{{ title }}</h2>

            {% if text %}
                <div class="mt-4 text-xl text-gray-600 dark:text-gray-200">{{ text|md|purify }}</div>
            {% endif %}

            {% include '_layouts/partials/heroarea/_ctabuttons.twig' with {
                buttons,
                primaryColor: 'primary',
                secondaryColor: 'white',
                classes: 'mt-16 flex justify-center'
            } only %}

            {% if bottomHtml %}
                {{ bottomHtml|raw }}
            {% endif %}

        </div>


    </div>
</div>
