{# Demo only. Delete if not used #}

{% from '_layouts/macros/lib.twig' import img %}
{% from '_layouts/macros/lib.twig' import imgCopyright %}

{{ img(image, {
    transform: config.heroTransform[config.heroWidth],
    attr: {
        loading: null,
        fetchpriority: 'high'
    }
}) }}


<div class="bg-primary text-white mb-12 p-8">
    <div class="max-w-screen-xl mx-auto pt-2 pb-4">

        {% if topHtml %}
            {{ topHtml|raw }}
        {% endif %}

        {% if teaser is defined and teaser %}
            <div class="mb-2">
                {{ teaser }}
            </div>
        {% endif %}

        <h1 class="text-2xl xl:text-4xl font-light tracking-wide">
            {{ title }}
        </h1>

        {% if text %}
            <div class="prose text-white mt-6 text-xl tracking-wider text-white sm:max-w-3xl">
                {{ text|md|purify }}
            </div>
        {% endif %}

        {% include '_layouts/partials/heroarea/_ctabuttons.twig' with {
            buttons,
            primaryColor: 'white',
            secondaryColor: 'light',
            classes: 'mt-16'
        } only %}


        {% if bottomHtml %}
            {{ bottomHtml|raw }}
        {% endif %}

    </div>
</div>