{# Demo only. Delete if not used #}

{% from '_layouts/macros/lib.twig' import img %}
{% from '_layouts/macros/lib.twig' import imgCopyright %}

<div class="pt-20 pb-60 bg-primary text-white">
    <div class="container mx-auto px-8">

        {% if topHtml %}
            {{ topHtml|raw }}
        {% endif %}

        {% if teaser is defined and teaser %}
            <div class="mb-2 font-serif italic">
                {{ teaser }}
            </div>
        {% endif %}

        <div class=" max-w-screen-lg">
            <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold tracking-wider">{{ title }}</h1>
        </div>

        {% if text is defined and text %}
            <div class="prose text-white mt-12 max-w-screen-md italic font-serif text-xl sm:text-2xl leading-loose">
                {{ text|md|purify }}
            </div>
        {% endif %}

        {% include '_layouts/partials/heroarea/_ctabuttons.twig' with {
            buttons,
            primaryColor: 'white',
            secondaryColor: 'light',
            classes: 'mt-16'
        } only %}


        {% if bottomHtml %}
            {{ bottomHtml|raw }}
        {% endif %}
    </div>
</div>



<div class="container mx-auto -mt-44 mb-20">
    {{ img(image,  {
        transform: {width: 1024, height: 400},
        scrset: [768, 360],
        showCopyright: false}) }}
</div>

