{# Display contact details #}

{# @param entry Entry The contact page entry #}

<div class="max-w-lg mx-auto">
    <h2 class="text-2xl font-extrabold tracking-tight text-white sm:text-3xl">
        {{ entry.title }}
    </h2>
    <p class="mt-3 text-lg leading-6 text-gray-50">
        {{ entry.tagline }}
    </p>
    <dl class="mt-8 text-base text-gray-50">
        <div>
            <dt class="sr-only">{{ "Postal address"|t }}</dt>
            <dd>
                {{ siteInfo.postalAddress|nl2br }}
            </dd>
        </div>
        <div class="mt-6">
            <dt class="sr-only">{{ "Phone number"|t }}</dt>
            <dd class="flex">
                <span class=""> {{ siteInfo.phoneNumber }} </span>
            </dd>
        </div>
        <div class="mt-3">
            <dt class="sr-only">{{ "Email"|t }}</dt>
            <dd class="flex">
                <span class=""> {{ siteInfo.email }} </span>
            </dd>
        </div>
    </dl>
</div>