{# Display contact details #}

{# @param entry Entry The contact page entry #}

{% embed '_layouts/embeds/prose.twig' %}
    {% block content %}
        <dl class="space-y-4">
            {% if siteInfo.postalAddress %}
                <div>
                    <dt class="font-semibold text-headings">{{ "Postal address"|t }}</dt>
                    <dd>
                        {{ siteInfo.postalAddress|nl2br }}
                    </dd>
                </div>
            {% endif %}
            {% if siteInfo.phoneNumber %}
                <div>
                    <dt class="font-semibold text-headings">{{ "Phone number"|t }}</dt>
                    <dd class="flex">
                        <a href="tel:{{ siteInfo.phoneNumber }}"> {{ siteInfo.phoneNumber }} </a>
                    </dd>
                </div>
            {% endif %}
            {% if siteInfo.email %}
                <div>
                    <dt class="font-semibold text-headings">{{ "Email"|t }}</dt>
                    <dd class="flex">
                        <a href="mailto:{{ siteInfo.email }}"> {{ siteInfo.email }} </a>
                    </dd>
                </div>
            {% endif %}
        </dl>
    {% endblock %}
{% endembed %}

