{# Display gallery block #}

{% from '_layouts/macros/lib.twig' import img %}

{% set align = block.align.value|default('default') %}

{# Match with block 'align' options #}
{% set alignClasses = {
    default: 'sm:grid-cols-3',
    wide: 'lg:-mx-24 sm:grid-cols-3 lg:grid-cols-4'
} %}

{% set handleCopyright = customConfig.handleCopyright %}

{% set lightboxTransform = {height: 800} %}
{% set thumbnailTransform = {width: 320, height: 250} %}

{% set query = block.images %}

{% if craft.app.plugins.pluginEnabled('imager-x') %}
    {% do query.with('images') %}
{% else %}
    {% do query.with([
        ['images', {withTransforms: [lightboxTransform, thumbnailTransform]}]
    ]) %}
{% endif %}

{% set images = query.collect() %}

<div id="gallery-{{ block.id }}" class="{{ alignClasses[align] }} grid grid-cols-2 gap-2 not-prose">
    {% for image in images %}

        {% if craft.app.plugins.pluginEnabled('imager-x') %}
            {% set transformedImage = craft.imager.transformImage(image, lightboxTransform) %}

            {% set lightboxUrl = transformedImage.url %}
        {% else %}
            {% set lightboxUrl = image.url(lightboxTransform) %}
        {% endif %}

        <a href="{{ lightboxUrl }}" class="overflow-hidden rounded-lg"
           data-caption="{{ image.altText ?? image.title }} {{ image.copyright ? "&copy; #{image.copyright}" }}">

            {{ img(image, {
                transform: thumbnailTransform,
                handleCopyright: handleCopyright == 'show' ? 'overlay' : handleCopyright,
                attr: {
                    class: "hover:opacity-75 hover:scale-105 focus:opacity-75 transition duration-300 rounded-lg overflow-hidden"
                }
            }) }}

        </a>
    {% endfor %}
</div>


{% js %}
window.addEventListener('load', function() {
    baguetteBox.run('#gallery-{{ block.id }}');
});
{% endjs %}