{# Display image block #}

{% from '_layouts/macros/lib.twig' import img %}

{% set transforms = {
    default: {width: 768},
    wide: {width: 1024}
} %}
{% set srcsets = {
    default: [768, 400],
    wide: [1024, 768, 400]
} %}

{% set image = block.image.one %}
{% if image %}

    {% set align = block.align.value ?: 'default' %}
    {% set aspectRatio = block.aspectRatio.value ?: 'default' %}

    {# Match with block 'align' options #}
    {% set alignClasses = {
        default: '',
        wide: 'lg:-mx-24'
    } %}


    {# Match with block 'aspectRatio' options #}
    {% set aspectRatioFactor = {
        default: 16/9,
        fullHeight: null,
        square: 1,
        slim: 21/9,
        classic: 4/3
    } %}


    {% set transform = transforms[align] %}

    {% set transform = aspectRatioFactor[aspectRatio] ?
        transform|merge({height: ceil(transform.width / aspectRatioFactor[aspectRatio])}) :
        transform %}

    <figure class="{{ alignClasses[align] }}">
        {{ img(image, {
            transform: transform,
            srcset: srcsets[align],
            handleCopyright: 'none',
            attr: {
                class: 'rounded shadow-lg'
            }
        }) }}

        {% if block.caption or image.copyright %}
            <figcaption class="flex justify-between">
                <div>
                    {% if block.caption %}
                        {{ block.caption }}
                    {% endif %}
                </div>
                {% if image.copyright %}
                    <div class="text-gray-500 dark:text-gray-300">
                        ({{ 'Photo'|t }}: {{ image.copyright }})
                    </div>
                {% endif %}
            </figcaption>
        {% endif %}
    </figure>
{% endif %}
