{# @param entry Entry the content component entry #}
{# Alternatively, individual parameters can be passed. #}

{% if entry is defined %}
    {% set teaser = entry.teaser %}
    {% set title = entry.title %}
    {% set text = entry.body %}
    {% set features = entry.features.with('feature:icon').collect %}
{% endif %}

{# Defaults #}
{% set teaser = teaser ?? '' %}
{% set text = text ?? '' %}
{% set features = features ?? [] %}

<div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
        {% if teaser %}
            <h2 class="mb-2 text-lg/8 font-semibold tracking-tight text-gray-700 dark:text-gray-200">{{ teaser }}</h2>
        {% endif %}

        {% include '_layouts/partials/headline.twig' with {
            text: title,
            extraClasses: 'mt-2'
        } only %}


        {% if text %}
            <div class="mt-6 text-lg/8 text-gray-700 dark:text-gray-200">{{ text|md|purify }}</div>
        {% endif %}
    </div>

    <div class="mx-auto mt-16 max-w-2xl lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            {% for feature in features %}
                <div class="relative ps-16">
                    <dt class="text-lg/7 font-semibold text-gray-900 dark:text-gray-100">
                        <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-primary dark:bg-gray-700">
                            {% set icon = feature.icon.one %}

                            {% if icon %}
                                {{ svg(icon)|attr({class: 'h6 w-6 text-white'}) }}
                            {% endif %}

                        </div>
                        {{ feature.heading }}
                    </dt>
                    <dd class="mt-2 leading-7 text-gray-700 dark:text-gray-200">
                        {{ feature.text|md|purify }}
                    </dd>
                </div>
            {% endfor %}
        </dl>
    </div>
</div>

