{# experimental, requires emaillist plugin #}

{# @param entry Entry the content component entry #}
{# Alternatively, individual parameters can be passed. #}

{% extends "emaillist/_register-form.twig" %}

{% if entry is defined %}
    {% set list = entry.objectHandle %}
    {% set title = entry.title %}
    {% set text = entry.body %}
    {% set caption = entry.buttonCaption %}
{% endif %}


{# Defaults #}

{% set text = text ?? '' %}
{% set caption = caption ?? 'Sign up'|t %}

{# Set parameters #}

{% set confirmPrivacy = false %}

{# Overwrite all markup inside the Alpine.js component #}
{% block component %}

    <div class="bg-white dark:bg-gray-700">
        <div class="mx-auto max-w-7xl py-24 px-6 lg:flex lg:items-center lg:py-32 lg:px-8">
            <div class="lg:w-0 lg:flex-1">
                <h2 class="text-3xl font-bold tracking-tight text-primary dark:text-primary-dark sm:text-4xl">{{ title }}</h2>
                {% if text %}
                    <div class="mt-3 max-w-3xl text-lg text-gray-500 dark:text-gray-200">{{ text|md|purify }}</div>
                {% endif %}
            </div>
            <div class="mt-8 lg:mt-0 lg:ms-8">
                <div class="flex">
                    <label for="email-address" class="sr-only">{{ 'Email address'|t }}</label>

                    {{ block('email') }}

                    {% include '_layouts/partials/button.twig' with {
                        tag: 'button',
                        caption,
                        xOnClick: 'register()'
                    } only %}
                </div>

                {# Your own message #}
                <div x-show="message"
                     x-text="message"
                     x-transition
                     class="my-1.5 p-2 text-white rounded"
                     :class="success ? 'bg-success' : 'bg-error '">
                </div>

                {% set privacyEntry = craft.entries.section('legal').type('privacy').one %}
                {% if privacyEntry %}
                    <div class="mt-3 text-sm text-gray-500 dark:text-gray-200">
                        <a class="underline" href="{{ privacyEntry.url }}">{{ privacyEntry.title }}</a>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
