{% from '_layouts/macros/lib.twig' import img %}

{% set transform = {width: 50, height:50} %}

{% set testimonials = entry.testimonials
    .with([
        ['person'],
        ['persion.photo', {withTransforms: [transform]}]
    ])
.collect() %}

{% set gridStyle = entry.gridStyle.value|default('default') %}

{% set gridClasses = {
    default: 'grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3',
    columns: 'sm:columns-2 sm:text-[0] lg:columns-3'
} %}


<div class="bg-white dark:bg-gray-800 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-xl text-center">
            <h2 class="text-lg font-semibold leading-8 tracking-tight text-secondary dark:text-secondary-dark">{{ entry.teaser }}</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">{{ entry.title }}</p>
        </div>
        <div class="mx-auto mt-16 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none">
            <div class="-mt-8 sm:-mx-4 {{ gridClasses[gridStyle] }}">

                {% for testimonials in testimonials %}
                    {% set person = testimonials.person.one() %}

                    {% if person %}
                        {% set photo = person.photo.one() %}

                        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
                            <figure class="rounded-2xl bg-gray-50 dark:bg-gray-900 shadow-xl p-8 text-sm leading-6">
                                <blockquote class="text-gray-900 dark:text-gray-100">
                                    <p>{{ testimonials.body|quotationMarks }}</p>
                                </blockquote>
                                <figcaption class="mt-6 flex items-center gap-x-4">

                                    {% if photo %}
                                        {{ img(photo, {
                                            transform: transform,
                                            attr: {
                                                class: 'h-10 w-10 rounded-full bg-gray-50'
                                            },
                                            handleCopyright: 'register'
                                        }) }}
                                    {% endif %}

                                    <div>
                                        <div class="font-semibold text-gray-900 dark:text-gray-100">{{ person.title }}</div>
                                        {% if person.teaser %}
                                            <div class="text-gray-600 dark:text-gray-300">{{ person.teaser }}</div>
                                        {% endif %}
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    {% endif %}
                {% endfor %}


                <!-- More testimonials... -->
            </div>
        </div>
    </div>
</div>
