{# @var topic1 \craft\elements\Entry #}
{# @var topic2 \craft\elements\Entry #}
{# @var topic3 \craft\elements\Entry #}

{# This is just a demo implementation #}


{# Calling a service method here because #}
{# - the nav tag can't be used here because it does not allow inner logic #}
{# - see https://craftcms.com/docs/4.x/dev/tags.html#showing-children #}
{# - getting children/parentId for each node create a ton of additional queries #}
{# - array handling in twig is so weird... #}

{# returns an array of nodes with keys entry, children #}

{% set topicNodes = craft.project.getStructureNodes('topic') %}
{% set defaultImage = siteInfo.featuredImage.one() %}

{% embed '_layouts/embeds/content-md.twig' %}
    {% block content %}

        <div class="space-y-8 my-8">
            {% for topicNode1 in topicNodes %}
                {% set topic1 = topicNode1.entry %}
                <div class="border border-gray-200 shadow-xl">

                    {% embed '_layouts/embeds/cover-image.twig' with  {
                        image: topic1.featuredImage.one() ?? defaultImage,
                        transform: {width: 768, height: 250},
                        url: topic1.url,
                        handleCopyright: 'register'
                    } %}
                        {% block content %}
                            <div class="p-4 text-center my-12">
                                <div class="text-4xl  tracking-wider font-headings font-bold">
                                    {{ topic1.title }}
                                </div>
                                {% if topic1.tagline %}
                                    <div class="mt-2">
                                        {{ topic1.tagline }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endblock %}
                    {% endembed %}


                    {% set topicNodes2 = topicNode1.children %}

                    {% if topicNodes2|length %}
                        <div class="grid grid-cols1 sm:grid-cols-2 md:grid-cols-3 gap-2 p-2">
                            {% for topicNode2 in topicNodes2 %}
                                {% set topic2 = topicNode2.entry %}
                                <div>
                                    <div class="border border-gray-400">

                                        {% embed '_layouts/embeds/cover-image.twig' with  {
                                            image: topic2.featuredImage.one() ?? defaultImage,
                                            transform: {width: 640, height: 240},
                                            url: topic2.url,
                                            handleCopyright: 'register'
                                        } %}
                                            {% block content %}
                                                <div class="p-2 my-4 text-xl text-center text-white tracking-wider font-headings font-bold">
                                                    {{ topic2.title }}
                                                </div>
                                            {% endblock %}
                                        {% endembed %}

                                        {% set topicNodes3 = topicNode2.children %}
                                        {% if topicNodes3|length %}
                                            <div class="p-4 space-y-2">
                                                {% for topicNode3 in topicNodes3 %}
                                                    {% set topic3 = topicNode3.entry %}
                                                    {{ topic3.link|attr({class: 'underline'}) }}{{ not loop.last ? ', ' }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            {% endfor %}
        </div>

    {% endblock %}
{% endembed %}